@media screen {
  html[data-lps="jacquemus"] #dropzones-container { grid-template-columns: 1fr !important; gap: 12px !important; margin: 0 !important; }
  html[data-lps="jacquemus"] #app-ui { max-width: none !important; padding: 0 !important; }
  html[data-lps="jacquemus"] #print-area { background: transparent !important; }
}
